{% extends 'crearpostbase.html' %}
{% load static %}
{% block titulo %}
<title>Base</title>
{% endblock %}

{% block codigoDinamico %}
            <div class="container ">

                <div class="">
                  <div class="col-md-12">
                    <div class="text-bg">
                      <h1>Quienes somos:</h1>
                      <h2>Somos dos estudiantes de Python de CoderHouse, Maximiliano Lovato y Luis Aragon. 
                          esta es nuestra web en proceso de mejora, con las herramientas aprendidas al dia de hoy logramos hacer esta web
                      </h2>
                      <a href="{% url 'index' %}">Volver</a>
                      <a href="{% url 'Sign Up' %}">Registrarse </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            {% endblock %}

</body>

</html>