{% extends 'base.html' %}
{% load static %}
{% csrf_token %}


{% block codigoDinamico %}


<table>
    <style>
        .profile-pic{
            max-width: 200px;
            max-height:2    00px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
    
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <hr>
                <h3 style="text-align: center">Configuracion de cuenta</h3>
                <hr>
                <img class="profile-pic" src="{{url}}" alt="">
                <a class="btn btn-warning" href="{% url 'index' %}"> &#8592; Volver al Inicio</a>
                {{request.user.id}}
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                
                <form method="get" action="" enctype="multipart/form-data"> {% csrf_token %}
                
                    {{user.username}}<br>
					{{user.last_name}}<br> 
					{{user.email}}<br>
                    
					<img src="{{avatar[0].imagen.url}}" alt="...">

            
                <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>
    </div>


{% endblock %}